<button type="button" (click)="changeImage1()">Image 1</button>
<button type="button" (click)="changeImage2()">Image 2</button>
<br>

<div *ngIf="imageIndex==1; then view1; else view2">

</div>

<ng-template #view1>
    <img src="./assets/image/im1.jpg" alt="" style="width: 100px; height: 100px;">
</ng-template>
<ng-template #view2>
    <img src="./assets/image/im2.jpeg" alt="" style="width: 100px; height: 100px;">
</ng-template>

<div [ngSwitch]="imageIndex">
    <p *ngSwitchCase="1">
        <img src="./assets/image/im2.jpeg" alt="" style="width: 100px; height: 100px;">
    </p>
    <p *ngSwitchCase="2">
        <img src="./assets/image/im1.jpg" alt="" style="width: 100px; height: 100px;">
    </p>
</div>

<ul>
    <li *ngFor="let fruit of fruits; index as stt">
        {{stt}} - {{fruit}}
    </li>
</ul>