<h4>Customer Information</h4>
<table border="1">
    <tr>
        <td>Customer Name</td>
        <td><input type="text" [(ngModel)]="customer.name"></td>
    </tr>
    <tr>
        <td>Customer Email</td>
        <td><input type="text" [(ngModel)]="customer.email"></td>
    </tr>
    <tr>
        <td>Phone</td>
        <td><input type="tel" [(ngModel)]="customer.phone"></td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="button"(click)="confirmInfo()">Confirm</button>
        </td>
    </tr>
</table>