<!-- <app-my-component></app-my-component>
<app-binding-property-component-ex79></app-binding-property-component-ex79>
<app-binding-class-component-ex80></app-binding-class-component-ex80>
<app-binding-style-component-ex81></app-binding-style-component-ex81>
<app-binding-event-component-ex82></app-binding-event-component-ex82> -->
<!-- <app-binding-two-way-component-ex83></app-binding-two-way-component-ex83> -->
<!-- <app-third></app-third> -->
<!-- <app-four></app-four> -->
<!-- <app-ptb1></app-ptb1> -->
<!-- <app-binding-two-way-component-ex84></app-binding-two-way-component-ex84> -->
<!-- <app-slideshow></app-slideshow> -->

<!-- <app-compact 
[AppComponentData]="WelcomMessage" 
[MyValueData]="MyValue"
(childEvent)="DataFromOtherComponent = $event"
></app-compact>

<h3 *ngIf="DataFromOtherComponent">
    {{DataFromOtherComponent|json}}
</h3> -->
<!-- 
<app-listproduct></app-listproduct>

<p>
    List Product 2
</p>
<app-listproduct2></app-listproduct2> -->

<!-- <app-listproduct3></app-listproduct3>
<app-listproduct4></app-listproduct4> -->

<!-- <app-listproduct5></app-listproduct5> -->
<!-- <app-listproduc6></app-listproduc6> -->
<!-- <app-listproduct4></app-listproduct4> -->

<!-- <p>
    <a routerLink="/ptb1">Phương trinh bậc 1</a>
    |
    <a routerLink="/slide">TRinh dien hinh</a> -->
    <!-- |
    <a routerLink="/about">Gioi thieu</a> -->
<!-- </p>
<router-outlet></router-outlet> -->

<!-- <table border="1" style="width: 100%;">
    <tr>
        <td colspan="3">
            <app-top-menu></app-top-menu>
        </td>
    </tr>
    <tr >
        <td style="width: 200px;">
            <app-left-menu></app-left-menu>
        </td>
        <td>Main Content
            <router-outlet></router-outlet>
        </td>
        <td style="width: 200px;">
            Right Menu
        </td>
    </tr>
    <tr>
        <td colspan="3">
            Thong tin cong ty
        </td>
    </tr>
</table> -->
<!-- <h1>100</h1>
<app-dong-abank-component></app-dong-abank-component>
<h1>101</h1>
<app-fake-product></app-fake-product>

<h1>103</h1>
<app-bitcoin></app-bitcoin> -->
<app-books></app-books>
<hr>
<app-book-new></app-book-new>
<hr>
<app-book-detail></app-book-detail>

<hr>

<app-book-update></app-book-update>