<h1 [class]="success">Successt</h1>
<h1 [class]="error">Error text</h1>
<h1 [class]="primary">Primary text</h1>
<h1 [class]="normal">Normal text</h1>
<h1 [class]="multiClass">multiClass text</h1>
<h1 [class.text-primary]="false">class.text-primary text</h1>
<h1 [class.text-primary]="true">class.text-primary text</h1>

<h2 class="{{success}}">Successt</h2>
<h2 class="{{error}}">Error text</h2>
<h2 class="{{primary}}">Primary text</h2>
<h2 class="{{normal}}">Normal text</h2>
<h2 class="{{multiClass}}">multiClass text</h2>